$primary:     #23b7ed;
$primary-h:   #2a7dc1;
$success:     #2de595;
$success-h:   #24af71;
$warning:     #dda22c;
$warning-h:   #c48403;
$danger:      #ed3636;
$danger-h:    #c11111;

@mixin transition($arg) {
  -webkit-transition: $arg;
     -moz-transition: $arg;
      -ms-transition: $arg;
          transition: $arg;
}
.btn {
    background-color: $primary;
    text-decoration: none;
    color:white;
    letter-spacing: 1px;
    @include transition (all 0.2s ease-in-out);
    &.success {
      background-color:$success;
      border-color: $success;
      &:hover {
        background-color: $success-h;
        border-color: $success-h;
      }
    }
     &.warning {
      background-color:$warning;
      border-color: $warning;
      &:hover {
        background-color: $warning-h;
        border-color: $warning-h;
      }
    }
     &.danger {
      background-color:$danger;
      border-color: $danger;
      &:hover {
        background-color: $danger-h;
        border-color: $danger-h;
      }
    }
    &.small {
      padding: 6px;
      font-size : 14px;
    }
    &.medium {
      padding: 9px;
      font-size: 17px;
    }
    &.large {
      padding: 11px;
      font-size: 22px;
    }
    &:hover {
      background-color: $primary-h;
    }
    &.rounded {
      border-radius: 5px;
    }
    &.uppercase {
      text-transform:uppercase
    }
    &.outline {
      background-color:transparent;
      color: #23b7ed;
      border: 1px solid #23b7ed;
      &:hover {
        border-color:#2a7dc1;
        color: #2a7dc1;
      }
    }
  }