<div class = "container top-container col-md-3">
    <form [formGroup] = "inputForm">
		<div class="form-group">
			<div class = "row">
				<label for="listname">Invoice Date</label> 
			</div>
			<div class = "row">
				<mat-form-field>
					<input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="invoiceDate">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				  </mat-form-field>
			</div>
			<!-- <input type="text" class="form-control" formControlName="invoiceDate"> -->
			
		  </div>
		  <div class="form-group row">
			<label for="datepicker">Invoice Pre-Tax Amount in EURO (EUR)</label>
			<input type="number" class="form-control" formControlName="preTaxAmount">
		  </div>
		  <div class="form-group row">
			<label for="listname">Payment Currency</label>
			<select class="form-control" formControlName = "paymentCurrency">
			  <option *ngFor="let option of paymentOptions" [value]="option.code">{{option.name}} ({{option.code}})</option>
		 	</select>
		  </div>
		<div class="form-group text-center row">
		  <button type="button" class="btn btn-block btn-primary" (click) = "calculate()" [disabled] = "!inputForm.valid">Calculate</button>
		</div>
	  </form>

	  <div class = "card" *ngIf = "isCalculated">
		<table class="table">
			<thead>
			  <tr>
				<th>Pre-Tax Amount</th>
				<th>Tax Amount</th>
				<th>Grand Total</th>
				<th>Exchange Rate</th>
			  </tr>
			</thead>
			<tbody>
				  <td style="width: 25%">{{output.preTaxAmount | number : '1.2-2'}}</td>
				  <td style="width: 25%">{{output.taxAmount | number : '1.2-2'}}</td>
				  <td style="width: 25%">{{output.total | number : '1.2-2'}}</td>
				  <td style="width: 25%">{{output.exchangeRate | number : '1.2-2'}}</td>
			</tbody>
		  </table>
	  </div>
</div>
